<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/logo.png}">
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta id="_csrf" name="_csrf" content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" content="${_csrf.headerName}"/>
    <title>메인 페이지</title>
</head>
<body>

<table>
    <thead>
        <tr>
            <th>책 제목</th>
            <th>책 내용</th>
            <th>책 저자</th>
            <th>날짜</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boardList}">
        <td ><a th:href="@{/board/Get(no=${board.no})}" th:text="${board.title}" ></a></td>
        <td th:text="${board.content}"></td>
        <td th:text="${board.author}"></td>
        <td th:text="${board.resdate}"></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{/board/Add}">공지등록</a>
</div>
</body>
</html>